﻿body {
    
}

.table td, 
.table th
{
    text-align: center;
}

.MyButton 
{
    padding-left: 50px;
    padding-right: 50px;
}

.div-falso-boton a
{
    color: white;
}

.copiar-boton {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.centrar-todo {
    margin: 0px auto;
    text-align: center;
}

.input-propio {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-family: inherit;
    max-width: 280px;
    height: 38px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 17px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.arreglar-altura 
{
    height: 38px;
}
