﻿@model Dominio.Cooperativo

@{
    ViewBag.Title = "ConfirmarAltaProyectoCooperativo";
}



<div class="alert alert-danger" role="alert">
    <p>@ViewBag.mensaje</p>
</div>
<div class="col-sm-12">
    <h4>Cooperativo</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoSolicitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoSolicitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadCuotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadCuotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urlImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urlImagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tasaInteres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tasaInteres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPresentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPresentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoFinalConInte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoFinalConInte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantIntegrantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantIntegrantes)
        </dd>

    </dl>
</div>
<img src="~/@ViewBag.Carpeta/@Model.urlImagen " width="600" />



<div class="row">
    <div class="div-falso-boton btn btn-primary">
        @Html.ActionLink("Enviar Proyecto", "EnvioAltaCooperativo", "Proyecto")
    </div>
    <div class="div-falso-boton btn btn-primary">
        @Html.ActionLink("Cancelar", "AltaProyectoCooperativo", "Proyecto")
    </div>
</div>