﻿@model Dominio.Personal


@{
    ViewBag.Title = "EnvioAltaPersonal";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container,form-group">

        <h2>Confirmacion de Envio Proyecto</h2>


        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoSolicitado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoSolicitado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cantidadCuotas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidadCuotas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tasaInteres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tasaInteres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoMaximo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoMaximo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaPresentacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaPresentacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoCuota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoCuota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoFinalConInte)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoFinalConInte)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcionPersonal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcionPersonal)
            </dd>

        </dl>

        <img src="~/@ViewBag.Carpeta/@Model.urlImagen " width="600" />




    </div>


    <div class="row">
        <div class="div-falso-boton btn btn-primary">
            @Html.ActionLink("Enviar Proyecto", "EnvioAltaPersonal", "Proyecto")
        </div>
        <div class="div-falso-boton btn btn-primary">
            @Html.ActionLink("Cancelar", "AltaProyectoPersonal", "Proyecto")
        </div>
    </div>


}



