﻿@model Dominio.Cooperativo

@{
    ViewBag.Title = "EvaluacionProyectoCooperativo";
}

    <div class="container">

        <h2>Evaluacion Proyecto Cooperativo</h2>

        <h4>Cooperativo</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoSolicitado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoSolicitado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cantidadCuotas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidadCuotas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tasaInteres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tasaInteres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoMaximo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoMaximo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaPresentacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaPresentacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoCuota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoCuota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.montoFinalConInte)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.montoFinalConInte)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cantIntegrantes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantIntegrantes)
            </dd>

        </dl>

        <img src="~/@ViewBag.Carpeta/@Model.urlImagen " width="600" />


        <div class="row">
            <div class="col-md-3 form-horizontal mb-5">
                <form action="/Proyecto/EvaluacionProyecto" method="post">
                    <br />
                    <input type="number" value="0" class="form-control" name="puntaje" placeholder="Puntaje">
                    <br />
                    <input type="hidden" value="@Model.id" name="idProyecto" />
                    <button class="btn btn-primary" type="submit">
                        Enviar evaluacion
                    </button>
                    </br>
                    </br>
                    <div class="div-falso-boton btn btn-primary">
                        @Html.ActionLink("Cancelar", "ListadoPendientes", "Usuario")
                    </div>
                </form>
            </div>
        </div>
    </div>

