﻿
@{
    ViewBag.Title = "Index";
}

<h2>Alta de proyectos</h2>
<p>Seleccione una de las siguientes opciones:</p>

<div class="div-falso-boton btn btn-primary">
    @Html.ActionLink("Dar de alta un proyecto personal", "AltaProyectoPersonal", "Proyecto")
</div>

<div class="div-falso-boton btn btn-primary">
    @Html.ActionLink("Dar de alta un proyecto cooperativo", "AltaProyectoCooperativo", "Proyecto")
</div>