﻿
@{
    ViewBag.Title = "ExportarArchivos";
}

    <div class="container">

        <h2>Exportar Archivos</h2>
        <br />
        <p>
            Al hacer click en  el boton de "Exportar Datos" se exportara toda la informacion de la base de datos, la cual estara disponible en la carpeta Archivos de este proyecto.
        </p>
        <div class="div-falso-boton btn btn-primary">
            @Html.ActionLink("Exportar Datos", "GenerarArchivos", "Usuario")
        </div>
        <br />
        <br />
        @if (@ViewBag.mensaje != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.mensaje</p>
            </div>
        }
 
        <div>
            @Html.ActionLink("Volver al listado", "ListadoPendientes", "Usuario")
        </div>

    </div>
