﻿@{
    Layout = null;
}

<html lang="es">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login panel administrador">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-md-offset-6">
                <h2>Log in</h2>

                <form action="/Usuario/Index" method="post">
                    <div class="form-group">
                        <label for="cedula">Cedula</label>
                        <input type="number" id="cedula" name="cedula" placeholder="Cedula" class="form-control" required>
                        <small id="cedulaHelp" class="form-text text-muted">Ingresar la cedula sin guiones ni espacios.</small>
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" id="pass" name="pass" placeholder="Contraseña" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>

                <div>
                    @Html.ActionLink("Registrarse", "Alta")
                </div>

                @if (@ViewBag.mensaje != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>@ViewBag.mensaje</p>
                    </div>
                }

                @if (@ViewBag.mensaje2 != null)
                {
                    <div class="alert alert-success" role="alert">
                        <p>@ViewBag.Mensaje2</p>
                    </div>
                }

            </div>

        </div>

    </div>
</body>
</html>


