﻿@model IEnumerable<Dominio.Proyecto>

@{
    ViewBag.Title = "ListadoPendientes";
}


<div class="container">
    <br />
    <form action="/Usuario/ListadoPendientes" method="post" class="form-inline">
        <div class="form-group row col-md-12">
            <div class="form-group ">
                <input type="number" value="0" class="form-control arreglar-altura " name="cedula" placeholder="Cedula">
            </div>
            <div class="form-group ">
                <input type="date" class="form-control input-propio arreglar-altura " name="fecha">
            </div>
            @*<div class="form-group ">
            <input type="text" class="form-control" name="estado" placeholder="Estado">
        </div>*@
            <select name="estado" class="form-group input-propio">
                <option value="">Sin filtro</option>
                <option value="Pendiente de revisión">Pendiente de revisión</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Rechazado">Rechazado</option>
            </select>
            <div class="form-group ">
                <input type="text" class="form-control arreglar-altura " name="texto" placeholder="Texto contenga:">
            </div>
            <div class="form-group ">
                <button class="btn btn-primary arreglar-altura " type="submit">
                    Filtrar
                </button>
            </div>
        </div>
    </form>
</div>
    </br>



@*<div class="row container">
            <h2>Listado Pendientes</h2>

            <div class="col-md-3 form-horizontal mb-5">
                <form action="/Usuario/ListadoPendientes" method="post">
                    <br />
                    <input type="number" value="0" class="form-control" name="cedula" placeholder="Cedula">
                    <br />
                    <input type="date" class="form-control" name="fecha">
                    <br />
                    <input type="text" class="form-control" name="estado" placeholder="Estado">
                    <br />
                    <input type="text" class="form-control" name="texto" placeholder="Texto contenga:">
                    <br />
                    <button class="btn btn-primary MyButton" type="submit">
                        Filtrar
                    </button>

                </form>
            </div>
        </div>
    </br>*@

@if (Model != null)
{
    <table class="table">
        <tr>

            <th>
                @*@Html.DisplayNameFor(model => model.titulo)*@
                Titulo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.descripcion)*@
                Descripcion
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoSolicitado)*@
                Monto Solicitado
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.cantidadCuotas)*@
                Cantidad Cuotas
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.urlImagen)*@
                Imagen
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tasaInteres)*@
                Tasa de interes
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.estado)*@
                Estado
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoMaximo)*@
                Monto Maximo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.fechaPresentacion)*@
                Fecha Presentacion
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoCuota)*@
                Monto Cuota
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoFinalConInte)*@
                Monto Final Con Interes
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tipo)*@
                Tipo De Proyecto
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoSolicitado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidadCuotas)
                    </td>
                    <td>
                        <img src="~/@ViewBag.Carpeta/@item.urlImagen" width="200" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tasaInteres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoMaximo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaPresentacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoCuota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoFinalConInte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>
                    @*@if (item.estado == "Pendiente de revisión")
                        {
                            <td>
                                @Html.ActionLink("Aprobar", "AprobarProyecto", "Proyecto", new { idProyecto = item.id }, null) |
                                @Html.ActionLink("Rechazar", "RechazarProyecto", "Proyecto", new { idProyecto = item.id }, null)
                            </td>
                            <td>
                                @Html.ActionLink("Aprobar/Rechazar", "EvaluacionProyecto", "Proyecto", new { idProyecto = item.id }, null)
                            </td>
                        }*@

                    <td>
                        @Html.ActionLink("Aprobar/Rechazar", "EvaluacionProyecto", "Proyecto", new { idProyecto = item.id }, null)
                    </td>

                </tr>
            }
        }


    </table>
}