﻿@model IEnumerable<Dominio.Proyecto>
@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido, @Session["cedula"]</h2>

@if (Model != null)
{
    <table class="table">
        <tr>

            <th>
                @*@Html.DisplayNameFor(model => model.titulo)*@
                Titulo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.descripcion)*@
                Descripcion
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoSolicitado)*@
                Monto Solicitado
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.cantidadCuotas)*@
                Cantidad Cuotas
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.urlImagen)*@
                Imagen
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tasaInteres)*@
                Tasa De Interes
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.estado)*@
                Estado Solicitud
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoMaximo)*@
                Monto Maximo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.fechaPresentacion)*@
                Fecha Presentacion
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoCuota)*@
                Monto Cuota
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.montoFinalConInte)*@
                Monto Final Con Interes
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tipo)*@
                Tipo De Proyecto
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoSolicitado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidadCuotas)
                    </td>
                    <td>
                        <img src="~/@ViewBag.Carpeta/@item.urlImagen" width="200"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tasaInteres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoMaximo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaPresentacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoCuota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoFinalConInte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>*@
                </tr>
            }
        }

    </table>

    }